/* --------css variables-------- */
:root {
  --menu-text: #bbb;
  --menu-active-text: #fff;
  --sub-menu-active-text: #f4f4f5;

  --menu-bg: rgb(0, 20, 40);
  --nav-bar-bg: #fff;
  --nav-bar-click-text: rgb(118, 124, 130);
  --nav-bar-disabled-text: rgb(51, 54, 57);

  --sub-menu-bg: #1f2d3d;
  --sub-menu-hover: #e3e5e5;
  --side-bar-width: 210px;

  --progress-bar: #87f351;

  --nav-bar-height: 64px;
}
